parameters:
	ignoreErrors:
		-
			message: "#^Method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Config\\\\Config\\:\\:addExcludedCombination\\(\\) has parameter \\$excludedCombination with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Config\\\\Config\\:\\:getExcludedCombinations\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Config\\\\Config\\:\\:setExcludedCombination\\(\\) has parameter \\$excludedCombinations with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Property Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Config\\\\Config\\:\\:\\$excludedCombinations type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Config/Config.php

		-
			message: "#^Method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Console\\\\Command\\\\AbstractCommand\\:\\:getRemoteJobsIds\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/AbstractCommand.php

		-
			message: "#^Property Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Console\\\\Command\\\\AbstractCommand\\:\\:\\$combinationsToRemove type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/AbstractCommand.php

		-
			message: "#^Property Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Console\\\\Command\\\\AbstractCommand\\:\\:\\$remoteJobsIds type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Console/Command/AbstractCommand.php

		-
			message: "#^Anonymous function should return string but returns mixed\\.$#"
			count: 1
			path: src/Console/Command/Params/Options/GitHubTokenCommandOption.php

		-
			message: "#^Method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Console\\\\Command\\\\Params\\\\Options\\\\GitHubTokenCommandOption\\:\\:askForValue\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: src/Console/Command/Params/Options/GitHubTokenCommandOption.php

		-
			message: "#^Parameter \\#2 \\$subject of function Safe\\\\preg_match expects string, mixed given\\.$#"
			count: 1
			path: src/Console/Command/Params/Options/GitHubTokenCommandOption.php

		-
			message: "#^Method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Console\\\\Command\\\\Params\\\\Options\\\\GitHubUsernameCommandOption\\:\\:askForValue\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: src/Console/Command/Params/Options/GitHubUsernameCommandOption.php

		-
			message: "#^Method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Console\\\\Command\\\\Params\\\\Options\\\\GitHubUsernameCommandOption\\:\\:getValueOrNull\\(\\) should return string\\|null but returns mixed\\.$#"
			count: 1
			path: src/Console/Command/Params/Options/GitHubUsernameCommandOption.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Console/Command/Params/Options/RepoBranchCommandOption.php

		-
			message: "#^Method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Console\\\\Command\\\\Params\\\\Options\\\\RepoBranchCommandOption\\:\\:askForValue\\(\\) should return string but returns mixed\\.$#"
			count: 1
			path: src/Console/Command/Params/Options/RepoBranchCommandOption.php

		-
			message: "#^Method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Console\\\\Command\\\\Params\\\\Options\\\\RepoBranchCommandOption\\:\\:getValueOrNull\\(\\) should return string\\|null but returns mixed\\.$#"
			count: 1
			path: src/Console/Command/Params/Options/RepoBranchCommandOption.php

		-
			message: "#^Attribute class PHPUnit\\\\Framework\\\\Attributes\\\\CodeCoverageIgnore does not exist\\.$#"
			count: 1
			path: src/Utils/Shell.php

		-
			message: "#^Strict comparison using \\=\\=\\= between false and true will always evaluate to false\\.$#"
			count: 3
			path: src/ValueObject/Job.php

		-
			message: "#^Strict comparison using \\=\\=\\= between false and true will always evaluate to false\\.$#"
			count: 3
			path: src/ValueObject/Matrix.php

		-
			message: "#^Call to an undefined method Github\\\\Api\\\\AbstractApi\\:\\:protection\\(\\)\\.$#"
			count: 1
			path: tests/Console/Command/SyncCommandTest.php

		-
			message: "#^Call to method method\\(\\) on an unknown class PHPUnit\\\\Framework\\\\MockObject\\\\Builder\\\\InvocationMocker\\.$#"
			count: 1
			path: tests/Repo/ReaderTest.php

		-
			message: "#^Parameter \\#1 \\$branches of method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Repo\\\\Reader\\:\\:filterProtectedBranches\\(\\) expects array\\<array\\{name\\: string, commit\\: array\\{sha\\: string, url\\: string\\}, protected\\: bool, protection\\: array\\{enabled\\: bool, required_status_checks\\: array\\{enforcement_level\\: string, contexts\\: array\\<int, string\\>, checks\\: array\\<int, mixed\\>\\}\\}, protection_url\\: string\\}\\>, array\\{array\\{name\\: 'main', protection\\: array\\{enabled\\: false\\}\\}, array\\{name\\: 'develop', protection\\: array\\{enabled\\: false\\}\\}\\} given\\.$#"
			count: 1
			path: tests/Repo/ReaderTest.php

		-
			message: "#^Parameter \\#1 \\$branches of method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\Repo\\\\Reader\\:\\:filterProtectedBranches\\(\\) expects array\\<array\\{name\\: string, commit\\: array\\{sha\\: string, url\\: string\\}, protected\\: bool, protection\\: array\\{enabled\\: bool, required_status_checks\\: array\\{enforcement_level\\: string, contexts\\: array\\<int, string\\>, checks\\: array\\<int, mixed\\>\\}\\}, protection_url\\: string\\}\\>, array\\{array\\{name\\: 'main', protection\\: array\\{enabled\\: true\\}\\}, array\\{name\\: 'develop', protection\\: array\\{enabled\\: false\\}\\}, array\\{name\\: 'feature\\-1', protection\\: array\\{enabled\\: true\\}\\}\\} given\\.$#"
			count: 1
			path: tests/Repo/ReaderTest.php

		-
			message: "#^Parameter \\#2 \\$content of static method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\ValueObject\\\\Job\\:\\:createFromArray\\(\\) expects array\\{strategy\\: array\\{matrix\\: array\\{string\\: array\\<string\\>\\}\\}\\}, array\\{strategy\\: 'not\\-an\\-array'\\} given\\.$#"
			count: 1
			path: tests/ValueObject/JobTest.php

		-
			message: "#^Parameter \\#2 \\$content of static method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\ValueObject\\\\Job\\:\\:createFromArray\\(\\) expects array\\{strategy\\: array\\{matrix\\: array\\{string\\: array\\<string\\>\\}\\}\\}, array\\{strategy\\: array\\{matrix\\: 'not\\-an\\-array'\\}\\} given\\.$#"
			count: 1
			path: tests/ValueObject/JobTest.php

		-
			message: "#^Parameter \\#2 \\$content of static method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\ValueObject\\\\Job\\:\\:createFromArray\\(\\) expects array\\{strategy\\: array\\{matrix\\: array\\{string\\: array\\<string\\>\\}\\}\\}, array\\{strategy\\: array\\{matrix\\: array\\{php\\: array\\{'8\\.0', '8\\.1'\\}\\}\\}\\} given\\.$#"
			count: 1
			path: tests/ValueObject/JobTest.php

		-
			message: "#^Parameter \\#2 \\$content of static method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\ValueObject\\\\Job\\:\\:createFromArray\\(\\) expects array\\{strategy\\: array\\{matrix\\: array\\{string\\: array\\<string\\>\\}\\}\\}, array\\{strategy\\: array\\{\\}\\} given\\.$#"
			count: 1
			path: tests/ValueObject/JobTest.php

		-
			message: "#^Parameter \\#2 \\$content of static method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\ValueObject\\\\Job\\:\\:createFromArray\\(\\) expects array\\{strategy\\: array\\{matrix\\: array\\{string\\: array\\<string\\>\\}\\}\\}, array\\{\\} given\\.$#"
			count: 1
			path: tests/ValueObject/JobTest.php

		-
			message: "#^Parameter \\#1 \\$combinations of class Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\ValueObject\\\\Matrix constructor expects array\\<string, Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\ValueObject\\\\Combination\\>, array\\<int, Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\ValueObject\\\\Combination\\> given\\.$#"
			count: 1
			path: tests/ValueObject/MatrixTest.php

		-
			message: "#^Parameter \\#1 \\$combinations of class Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\ValueObject\\\\Matrix constructor expects array\\<string, Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\ValueObject\\\\Combination\\>, array\\<string, string\\> given\\.$#"
			count: 1
			path: tests/ValueObject/MatrixTest.php

		-
			message: "#^Parameter \\#1 \\$matrix of static method Aerendir\\\\Bin\\\\GitHubActionsMatrix\\\\ValueObject\\\\Matrix\\:\\:createFromArray\\(\\) expects array\\<string, array\\<string\\>\\>, array\\<string, string\\> given\\.$#"
			count: 1
			path: tests/ValueObject/MatrixTest.php
